[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/libtins"]
	path = extern/libtins
	url = https://github.com/mfontanini/libtins.git
[submodule "extern/liblpm"]
	path = extern/liblpm
	url = https://github.com/rmind/liblpm.git
