exclude: ^(cmake/|data/|extern/|README.md).*

repos:
  - repo: https://github.com/bmorcos/pre-commit-hooks-cpp
    rev: 9a5aa38207bf557961110d6a4f7e3a9d352911f9
    hooks:
      - id: clang-format
        args: [ "-style=file" ]
      - id: cpplint
        args: [ "--filter=-build/c++11,-build/include_order,-legal/copyright,-readability/todo,-runtime/references,-whitespace/line_length" ]
      - id: cppcheck
        args: [ "--suppress=uninitMemberVar:include/caracal/sender.hpp" ]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [ "--dangle-parens", "--enable-markup", "--in-place" ]
      - id: cmake-lint
        args: [ "--dangle-parens" ]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile=black ]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
        args: [ "--ignore", "DL3008", "--ignore", "DL3013" ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
